@use 'mixins' as *
@use 'variables' as *

body
    width: 100%
    max-width: 1400px
    margin: 0 auto
    min-height: 100vh
    padding-top: 60px
    padding-bottom: 120px
    scroll-behavior: smooth
    background-color: $light-clr
