@use 'mixins' as *
@use 'variables' as *
// .button
//     @include button($dark-clr, $light-clr, $dark-clr, $light-clr)

// component ------------------------------------------------------------
nav
    a, button
        @include button(#fff, $dark-clr, $dark-clr, $light-clr)
        margin-right: calc( $base * 2 )
.slide-scrolled
    transform: translateY(-35px)
// 動態滾動效果
@keyframes slideDown
    0%
        transform: translateY(-30px) // 開始位置：上方

    100%
        transform: translateY(0) // 結束位置：正常位置
