@use 'mixins' as *
@use 'variables' as *
// ------------------------------------------------------------------
body
    width: 100%
    max-width: 1400px
    margin: 0 auto
    min-height: 100vh
    padding-top: 60px
    padding-bottom: 120px
    scroll-behavior: smooth
    background-color: $light-clr
h3
    font-size: $base5
    line-height: calc($base * 10)
p
    @include infoP
span
    @include infoSpan
// project, about
.project
    position: relative
    width: 100%
    letter-spacing: $letterspace
    margin: $base5 0
    @media (max-width: 1000px ) and ( min-width: 500px )
        margin: $base8 0

    .project-img
        cursor: pointer
        transition: filter 0.2s, transform 0.4s
        transition-delay: 0.2s

    .project-content
        position: relative
        margin-bottom: $base7
        img
            position: relative
            width: 95px
            @include imgDefault(contain)
            border-radius: 0
            transition: all 0.2s linear

        ul
            @include infoP
            padding-left: $base5
            li
                @include infoType
                margin: $base2 0

                small
                    margin: 0 $base2
                    font-size: 10px
                    opacity: 0.5
