@use 'mixins' as *
@use 'variables' as *
// ------------------------------------------------------------------
body
    min-height: 100vh
    scroll-behavior: smooth
    background-color: $light-clr
    &.no-scroll
        overflow: hidden
h3
    font-size: $base5
    line-height: calc($base * 10)
p
    font-size: 16px
span
    line-height: 32px
    letter-spacing: $letterspace
section
    padding: 0 calc($base8 * 2)
    @media (max-width: 1000px)
        padding: 0 $base8

// project, about
.project
    position: relative
    width: 100%
    letter-spacing: $letterspace
    padding: $base8 0
    a
        width: 100%
        height: 100%
        display: block
    img
        cursor: pointer
        transition: filter 0.2s, transform 0.4s
        transition-delay: 0.2s

    .project-content
        position: relative
        margin-bottom: $base7
        img
            position: relative
            width: 95px
            @include imgDefault(contain)
            border-radius: 0
            transition: all 0.2s linear

        ul
            font-size: 16px
            padding-left: $base5
            li
                position: relative
                font-size: $base4
                line-height: 28px
                font-weight: 400
                margin: $base2 0

                small
                    margin: 0 $base2
                    font-size: 10px
                    opacity: 0.5
