$dark-clr: #050206
$light-clr: #fafafa
$grey-clr: #9d9d9d
$main: #F84519
$base: 4px
$base2: 8px
$base3: 12px
$base4: 16px
$base5: 20px
$base6: 24px
$base7: 28px
$base8: 32px
$borderRadius: $base3
$letterspace: 0.016em
